<link href="/style.css" rel="stylesheet" type="text/css">


<body>
<h1>Hi <%= name%></h1>
<form action="/logout?_method=DELETE" method="POST">
   <button tyepe="submit">Log Out</button>
</form>

</body>